.pC-back--container{
    margin: 0;
}

.logo{
    margin: 0;
}

.logo h3{
    font-size: var(--font-size-xl);
    position: absolute;
    z-index: 0; /*Use z-index for overlap in elements*/
}

.logo .logoStripe--blank{
    background-color: #fff;
    width: 150px;
    height: auto;
}

.logo h5{
    position: relative;
    font-size: var(--font-size-s);
    justify-content: center;
    z-index: 1; /*Use z-index for overlap in elements*/
}

#line{
    color: #000;
    width: 200px;
    height: 1px;
}

